/*ESTILOS CONTAINERS*/

#consola{
    position: absolute;
    left: 20%;
    top: 20%;
    height: 650px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(0,0,0,1) 100%);
    border-radius: 1em;
}
#marco_izquierdo, #marco_derecho{
    width: 5%;
    height: 100%;
    background-color: red;
    border-radius: 5px;
}

#parte_central{
    width: 90%;
    height: 99%;
    margin: auto 0;
}

/*ESTILOS CONTENIDO*/

#parte-superior{
    height: 55%;
}
#marca{
    color: white;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 100%;
}

#marca h1{
    font-size: 60px;
    margin: 0;
}

/*ESTILOS LOGO*/

#logo{
    width: 10%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#raya-izquierda, #raya-derecha{
    height: 90%;
    width: 25%;
    border-bottom: 4px solid white;
    margin: 0.1em;
}

#raya-izquierda{
    border-right: 4px solid white;
    border-bottom-right-radius: 80%;
}

#raya-central{
    height: 100%;
    background-color: white;
    width: 10%;
    margin: 0.1em;
}

#raya-derecha{
    border-left: 4px solid white;
    border-bottom-left-radius: 80%;
}

/*ESTILOS PANTALLA*/

#pantalla{
    width: 55%;
    height: 55%;
    margin: 1em auto;
    background-color: blue;
    border: 10px solid white;
}

/*ESTILOS PARTA INFERIOR*/

#parte-inferior{
    width: 100%;
    height: 45%;   
}

/*ESTILOS BOTONES-FUNCIONES*/

#botones-funciones{
    width: 45%;
    height: 15%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1em;
}

.marco-botones-funciones{
    border-radius: 50%;
    height: 90%;
    width: 20%;
    background-color: white;
}

.botones-funciones{

    border-radius: 50%;
    height: 85%;
    width: 85%;
    background-color: red;
    border: 2px solid black;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/*ESTILOS BOTONERAS*/

#botoneras{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#marco_joystick{
    background-color: red;
    height: 80%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 1em;
}

#joystick{
    background-color: white;
    height: 70%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5px;
    border: 4px solid black;
    border-radius: 50%;
}


#cruceta_superior, #cruceta_inferior, #cruceta_izquierda, #cruceta_derecha, #cruceta_centro {
    background-color: red;
}

#cruceta_superior{
    grid-column: 2 / 3;
    border-radius: 5px 5px 0 0;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 4px, 
    rgba(0, 0, 0, 0.8) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.5) 0 0 0;
}

#cruceta_inferior{
    grid-column: 2 / 3;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 2px, 
    rgba(0, 0, 0, 0.8) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.5) 0px -5px 0px inset;
}

#cruceta_izquierda{
    grid-column: 1 / 2;
    border-radius: 5px 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 4px, 
    rgba(0, 0, 0, 0.8) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.5) 0px -3px 0px inset;
}


#cruceta_derecha{
    grid-column: 3 / 4;
    border-radius: 0 5px 5px 0;
    box-shadow:  rgba(0, 0, 0, 0.8) 0px 2px 4px, 
    rgba(0, 0, 0, 0.8) 8px 7px 13px -3px, 
    rgba(0, 0, 0, 0.5)  0px -3px 0px inset;
}

#container_cruceta_centro{
    grid-column: 2 / 3;
    z-index: 1;
    background-color: red;
}

#cruceta_centro{
    height: 100%;
    width: 100%;
    background-color: red;
    box-shadow: red 0px 2px 4px, 
    rgba(0, 0, 0, 0.8) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.5) 0 0 0;
    border-radius: 50%;
}

#modelo{
    width: 100%;
    height: 10%;
    text-align: center;
} 

#modelo h2{
    margin: 0;
    color: white;
}

/*ESTILOS BOTONES*/

#botones{
    height: 65%;
    width: 25%;
    margin-right: 3em;
    border: 5px solid red;
    border-radius: 50%;
}

#marco_botones{
    border: 1px solid white;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#boton_superior, #boton_inferior, #boton_izquierda, #boton_derecha{
    background-color: red;
    border-radius: 50%;
    grid-column: 2 / 4;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#boton_superior{
    grid-row: 1 / 3;
}

#boton_inferior{
    grid-row: 3 / 5;
}

#boton_izquierda, #boton_derecha{
    grid-row: 2 / 4;
}

#boton_derecha{
    grid-column: 3 / 5;
    transform: translateX(20px);
}


#boton_izquierda{
    transform: translateX(-20px);
    grid-column: 1 / 3;
}

#boton_superior{
    transform: translateY(-20px);
}


#boton_inferior{
    transform: translateY(20px);
}

/*ESTILOS MODELO*/

#modelo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modelo h2{
    color: white;
    background-color: black;
    padding: 5px;
}


/*ESTILOS BORDE*/

.embellecedores{
    border: 1px solid black;
    width: 45%;
    height: 70%;
}

.embellecedores:first-child, .embellecedores:last-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.embellecedores:first-child{
    border: 5px solid lightgreen;
    border-right-color: red;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
}



.embellecedores:last-child{
    border: 5px solid skyblue;
    border-left-color: red;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 5px;
}